<div>
  <app-buttons
    (loginEvent)="showComponent('login')"
    (logoutEvent)="showComponent('welcome')"
  />

	<app-welcome-content *ngIf="componentToShow == 'welcome'"/>
	<app-login-form *ngIf="componentToShow == 'login'" (onSubmitLoginEvent)="onLogin($event)" (onSubmitRegisterEvent)="onRegister($event)"/>
	<app-auth-content *ngIf="componentToShow == 'messages'"/>

</div>
<!-- <div>
  <div *ngIf="!isLoggedIn()">
    <app-buttons
    (loginEvent)="showComponent('login')"/>
  </div>
  <div *ngIf="isLoggedIn()">
    <button (click)="onLogout()">Logout</button>
  </div>

  <app-welcome-content *ngIf="componentToShow == 'welcome'"></app-welcome-content>
  <app-login-form *ngIf="componentToShow == 'login'" (onSubmitLoginEvent)="onLogin($event)" (onSubmitRegisterEvent)="onRegister($event)"></app-login-form>
  <app-auth-content *ngIf="componentToShow == 'messages'"></app-auth-content>
</div> -->

